spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}

  jpa:
    show-sql: false

jwt:
  secret: ${JWT_SECRET}
  access:
    expiration: ${JWT_ACCESS_EXPIRATION:900000}
  refresh:
    expiration: ${JWT_REFRESH_EXPIRATION:86400000}

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false